@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div class="container text-center mt-5">
    <div class="row mt-5">
        <h5>Welcome To GalluChat <i class="bi bi-threads"></i> </h5>     
        <h6>A world that connect student across the globe</h6>
         <a style="width:120px; margin-left:45%" class="btn btn-secondary mt-2" id="login" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    </div>
</div>